<div class="row mt-5">
    <div class="col-md text-center">
      <div [hidden]="myID == ''"> Moje ID: {{myID}} liczba aktywnych Klientow: {{countClients}}</div>
      <span class="btn btn-danger" [hidden]="!firstRun" (click)="Connect()" >Połącz</span>
    </div>
  </div>
  <div class="row mt-5">
      <div *ngFor="let item of AllClient" [ngClass]="{'col-md-3': true, 'text-center': true}">
        <div [ngClass]="{'alert':true, 'alert-danger':!item.active, 'alert-success':item.active}" >
            <div> Aktywność: {{item.active?'Tak':'Nie'}}</div>
            <div> Grupa: {{item.group?'Tak':'Nie'}}</div>
            <div> Moje ID: {{item.clientID}}</div>
          <div> Licznik kliknięć: {{item.count}}</div>
          <div> Liczba klientów w grupie: {{item.count}}</div>
        </div>

        
      </div>
    </div>
  