<div class="container-fluid">
  <div class="row">
    <div class="col-md">
      <h1 class="text-center">Klikacz czasu rzeczywistego</h1>
    </div>
  </div>

  <div class="row" [hidden]="!firstScreen">
    <div class="col-md text-center mt-3">
      <span class="btn btn-info" (click)="showClient('klikacz')" >Klient klikacza</span>
    </div>
    <div class="col-md text-center mt-3">
      <span class="btn btn-info"  (click)="showClient('widok')">Klient widoku</span>
    </div>
  </div>
  <div [hidden]="firstScreen">
    <app-klikacz [hidden]="clientType != 'klikacz'"></app-klikacz>
    <app-view-client [hidden]="clientType != 'widok'"></app-view-client>
  </div>
</div>
